<div class="form">
<div class="card">
    <!-- key word search  -->
    <div class="card-body cb-search">
    <div class="row">
    <div class="col">
    <div class="form-group">
    <label>Key word:</label>
    <div class="input-group">
    <input id="keyWord" type="search" class="form-control" placeholder="Please enter key word">
    </div>
    </div>
    </div>
  <!-- //key word search  -->
  <!-- SELECT URGENCY DROPDOWN  -->
    <div class="col-md-2 col-sm-2 col-12 mb-1 mb-sm-0" style="max-width: 250px;" >
    <div class="form-group">
    <label>Urgent:</label>
    <select class="select2 select2-hidden-accessible"   id="slUrgent" data-select2-id="slUrgent" tabindex="-1" aria-hidden="true">
    <option value="" data-select2-id="2">--All--</option>
    <option value="True">Is urgent</option>
    <option value="False">Not urgent</option>
    </select>
    <span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="1" >
        <!-- <span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-slUrgent-container"> -->
        <!-- <span class="select2-selection__rendered" id="select2-slUrgent-container" role="textbox" aria-readonly="true" title="--All--">--All--</span> -->
        <span class="select2-selection__arrow" role="presentation">
            <b role="presentation">
            </b>
        </span>
        </span>
        <!-- </span> -->
    <span class="dropdown-wrapper" aria-hidden="true">

</span>
<!-- </span> -->
    </div>
    </div>
    <!-- //SELECT URGENCY DROPDOWN  -->

    <!--  CREATE DATE -->

    <div class="col-md-3 col-sm-3 col-12 mb-1 mb-sm-0">
    <div class="form-group">
    <label>Create date:</label>
    <div class="input-group">
    <div class="input-group-prepend">
    <span class="input-group-text">
    <i class="far fa-calendar-alt"></i>
    </span>
    </div>
    <input type="text" class="form-control float-right date-range" id="timeCreateDate">
    </div>
    </div>
    </div>
    <!-- //CREATE DATE  -->

    <!-- FINAL UPDATE DATE  -->
    <div class="col-md-3 col-sm-3 col-12 mb-1 mb-sm-0" >
    <div class="form-group">
    <label>Final update date:</label>
    <div class="input-group">
    <div class="input-group-prepend">
    <span class="input-group-text">
    <i class="far fa-calendar-alt"></i>
    </span>
    </div>
    <input type="text" class="form-control float-right date-range" id="timeFinalUpdateDate">
    </div>
    </div>
    </div>
      <!-- //FINAL UPDATE DATE  -->

      <!-- SEARCH CHECK BOX  -->
    <div class="col">
    <label class="d-none d-sm-block">&nbsp;</label>
    <div>
    <a onclick="searchByCheckbox()" class="btn bg-gradient-primary">
    <i class="fa fa-search"></i> Search
    </a>

    <a onclick="OpenFirstStepDialog()" class="btn bg-gradient-primary">
    <i class="fa fa-plus" ></i> Add new </a>
    </div>
    </div>
 
    <div class="col-md-12">
    <div class="tab-container">
   
          <!-- CHIPS -->
    <div class="item chk-tab chk-all">
    <input class="my-chk" type="checkbox" id="chk-all" name="options">
    <label class="tab-label" id="all-tab-label" for="chk-all">All </label>
    </div>
  
   <div class="item chk-tab chk-in-progress">
    <input class="my-chk" type="checkbox" id="chk-in-progress" name="options" value="InProgress">
    <label class="tab-label" id="in-progress-tab-label" for="chk-in-progress">In Progress</label>
    </div>
    <div class="item chk-tab chk-approved">
    <input class="my-chk" type="checkbox" id="chk-approved" name="options" value="Approved">
    <label class="tab-label" id="approved-tab-label" for="chk-approved">Approved</label>
    </div>
    <div class="item chk-tab chk-rejected">
    <input class="my-chk" type="checkbox" id="chk-rejected" name="options" value="Rejected">
    <label class="tab-label" id="rejected-tab-label" for="chk-rejected">Rejected </label>
    </div>
    <div class="item chk-tab chk-archived">
    <input class="my-chk" type="checkbox" id="chk-archived" name="options" value="Achived">
    <label class="tab-label" id="archive-tab-label" for="chk-archived">Archived</label>
    </div> 
    </div>
    </div>
    </div>
    </div>
    </div>
</div>
